@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap');

@font-face {
  font-family: "iA Writer Duospace";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/iAWriterDuospace-Regular.eot") format("embedded-opentype"),
    url("../fonts/iAWriterDuospace-Regular.woff2") format("woff2"),
    url("../fonts/iAWriterDuospace-Regular.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Duospace";
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/iAWriterDuospace-Italic.eot") format("embedded-opentype"),
    url("../fonts/iAWriterDuospace-Italic.woff2") format("woff2"),
    url("../fonts/iAWriterDuospace-Italic.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Duospace";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/iAWriterDuospace-Bold.eot") format("embedded-opentype"),
    url("../fonts/iAWriterDuospace-Bold.woff2") format("woff2"),
    url("../fonts/iAWriterDuospace-Bold.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Duospace";
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/iAWriterDuospace-BoldItalic.eot") format("embedded-opentype"),
    url("../fonts/iAWriterDuospace-BoldItalic.woff2") format("woff2"),
    url("../fonts/iAWriterDuospace-BoldItalic.woff") format("woff");
}
