p+ol, p+ul {
    margin-top: -1rem;
}

ol, ul { 
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

ol > li { 
    list-style-type: lower-alpha;   
    margin-bottom: 2rem;
}
ul > li {
    list-style-type: circle;
}

ul > li > ul {
    margin-left: 2rem;
}

li:last-child {
    margin-bottom: 0;
}

li.silent {
    list-style-type: none;
}